<div class="span8 offset2">
<h1>Trip Sorter</h1>
<h3>Please, choose your journey</h3>

<table class="table">
  <tbody>
    <% @boarding_cards.sort.each do |boarding_card| %>
      <tr>
        <td><%= boarding_card.journey %></td>
        <td><%= link_to "Show boarding card", boarding_card, :class => 'btn btn-warning btn-block'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
